
{% extends 'main.html' %}
{% load static %}
{% block title %}
<title>login</title>
{% endblock %}
{% block body_block %}
<h1>this is login</h1>
<div class="row g-3">
    <div class="col-sm-7">
      <div class="form-outline">
        <input type="text" id="form10Example1" class="form-control" />
        <label class="form-label" for="form10Example1">Name</label>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-outline">
        <input type="text" id="form10Example2" class="form-control" />
        <label class="form-label" for="form10Example2">Name</label>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-outline">
        <input type="text" id="form10Example3" class="form-control" />
        <label class="form-label" for="form10Example3">Name</label>
      </div>
    </div>
  </div>
{% endblock %}